div {
    
}
body {
    font-family: 'Muli', sans-serif;
    font-size: 75%;
}
#container {
    width: 960px;
    margin: 5px auto 0 auto;
    border: 1px solid black;
    overflow-x: auto;
    border: 1px solid black;
}
/* Header CSS */
#header {
	width: 948px;
    height: 125px;
    margin: 5px 5px 5px 5px;
    border: 1px solid black;
}
#header h1 {
  font-size: 325%;
  font-weight: bold;
  text-align: right;
}
#header h1 > a {
  text-decoration: none;
  color: black;
}
.insideheader {
    margin: 5px auto 5px auto;
}
/*Menu CSS */
#menu {
	float: left;
	width: 175px;
  height: 375px;
  margin: 0 auto 5px 5px;
  border: 1px solid black;
}
.accordionButton {  
  width: 175px;
  float: left;
  cursor: pointer;
  }

/*Content CSS */
#content {
	float: right;
	width: 735px;
    margin: 0 5px 5px 0px;
    min-height: 375px;
    border: 1px solid black;
}

/*Footer CSS*/
#footer {
  clear: right;
  bottom: 5px;
  width: 940px;
  height: 50px;
	margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
}
/*Links*/
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black
}
a:hover{
}
/*setting up fade classes*/
.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.5;
      }






