body {
    font-family: 'Muli', sans-serif;
    font-size: 75%;
}
#container {
    width: 610px;
    margin: 5px auto 0 auto;

}
/* Header CSS */
#header {
	width: 600px;
    height: 125px;
    margin: 5px 5px 5px 5px;
}
#header h1 {
  font-size: 325%;
  font-weight: bold;
  text-align: right;
}
#header h1 > a {
  text-decoration: none;
  color: black;
}
.insideheader {
    margin: 5px auto 5px auto;
}
/*Menu CSS */
#menu {
    float: left;
	width: 100px;
  height: 375px;
  margin: 0 auto 5px 5px;
}
.accordionButton {  
  width: 175px;
  float: left;
  cursor: pointer;
  }

/*Content CSS */
#content {
	float: right;
	width: 520px;
    margin: 0 5px 5px 0px;
    padding: 5px 5px 5px 5px;
    min-height: 375px;
    border: 1px solid gray;
}

/*Footer CSS*/
#footer {
  clear: right;
  bottom: 5px;
  width: 548px;
  height: 60px;
	margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;

}
/*Links*/
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black
}
a:hover{
  opacity: 0.5;
}
/*setting up fade classes*/
.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.5;
      }






