* {
	font-family: 'Muli', sans-serif;	
}
div {
    border: 1px solid black;
    
}
body {

}
#container {
	width: 900px;
	height: 600px;
	margin: 5px auto 0 auto;
}
#header {
	
	width: 890px;
    height: 150px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
    margin-bottom: 5px;
}
#left-column {
	float: left;
	width: 400px;
    height: 400px;
	margin-left: 5px;
    margin-bottom: 5px;
}
#content {
	float: right;
	width: 486px;
    height: 400px;
	margin-right: 5px;
    margin-bottom: 5px;
}
#footer {
	width: 890px;
    height: 100px;
	margin: 0 auto 5px auto;
}